a{
    font-size: 20px;
    text-decoration: none;
    margin: 10px 20px;

    background: rgb(96, 76, 76);
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px rgb(41, 41, 95);
}


a:link{/*Enlaces que no hemos visitado antes*/
    color: rgb(43, 226, 89);

}

a:hover{/*Que quiero que haga el mouse cuando pase por
    encima de un link*/
   /* text-decoration: underline;
    background: black;
    padding: 10px 20px;
    color: white;*/
    box-shadow:0px 5px 0px rgb(7, 241, 198) ;

}
a:active{/*Lo que debe de pasar cuando se de un click*/
  /*background: orange;*/
  box-shadow: none;
}

a:visited{/*Los enlaces que hemos visitado*/
    text-decoration: line-through;
}